@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* sherad styles */

.body-width {
    max-width: 1130px;
    margin-left: 20px;
    margin-right: 20px;
}

.display-flex {
    display: flex;
}

.dark-1 {
    color: #4E4E4E;
}

.btn-prymary {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: rgba(255, 88, 155, 1);
    border: none;
    border-radius: 6px;
    padding: 14px 45px;
}

/* header styles */

.navbar {
    justify-content: space-between;
    margin-top: 30px;
}

.banner {
    margin-top: 50px;
    background-color: #FEEAE9;
    gap: 60px;
}

.banner-img {
    margin-top: 30px;
    margin-bottom: 40px;
}

.header-bar {
    max-height: 560px;
    margin-left: 50px;
}

.menu-bar-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 60px;
}

.menu-bar-description {
    font-size: 1rem;
    max-width: 456px;
    margin-top: -18px;
}

.price {
    font-size: 2.5rem;
    font-weight: 500;
    color: #FF136F;
}

#btn-margin {
    margin-top: -16px;
}

/* categories section styles */

.categories {
    gap: 26px;
    margin-top: 110px;
}

.category-banner {
    width: 360px;
    height: 120px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
}

#color-1 {
    background-color: #FF9C35;
}

#color-2 {
    background-color: #FF136F;
}

#color-3 {
    background-color: #3F07F8;
}

.categary-title {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 500;
    align-items: center;
}

/* shoes section style */

#shoes {
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 98px;
}

.shoes-banner {
    gap: 24px;
}

.shoes-card {
    max-width: 360px;
    height: 500px;
    border: 2px solid #929292;
    border-radius: 20px;
    box-shadow: 0 6px 20px 1px rgba(146, 146, 146, 0.2);
    display: grid;
    justify-items: center;
    padding-left: 26px;
    padding-right: 26px;
}

#shoes-id {
    height: 530px;
}

.shoes-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding-right: 20px;
}

.shoes-description {
    font-size: 1rem;
    color: #4E4E4E;
    padding-right: 20px;
}

.shoes-price {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
}

.shoes-btn {
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    padding: 16px 62px 16px 24px;
    background-color: black;
    border: none;
    border-radius: 8px;
    margin-bottom: 25px;

}

.bag-card {
    height: 590px;
}

.bag-img {
    max-width: 100%;
}

/* footer section  style */

.container {
    justify-items: center;
    max-width: 1130px;
    height: 400px;
    margin-top: 140px;
    background-color: #FFF2F1;
    padding-top: 160px;
}

.footer-title {
    font-size: 1.9rem;
    font-weight: 500;
}

.footer-description {
    font-size: 1rem;
    font-weight: 500;
    color: #707070;
}

.user-input {
    font-size: 1.2rem;
    border: none;
    padding: 22px 200px 14px 24px;
    margin-left: 50px;
}

.sent-btn {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    padding: 17px 47px;
    background: linear-gradient(#FF589B, #FF136F);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-or-btn {
    margin-left: 25px;
}


@media screen and (max-width: 576px) {
    .header-bar {
        justify-items: center;
    }

    .banner,
    .shoes-banner {
        flex-direction: column;
    }

    .banner-img {
        max-width: 100%;
    }

    .menu-bar-description {
        margin-right: 20px;
    }

    .menu-bar-title {
        font-size: 3rem;
        margin-left: 15px;
    }

    .btn-prymary {
        margin-left: 60px;
    }

    .categories {
        flex-direction: column;
    }

    .category-banner{
        max-width: 100%;
    }

    .shoes-img {
        max-width: 100%;
    }

    .container{
        margin-top: 100px;
        padding-top: 120px;
    }

    .container-margin{
        margin-left: 10px;
    }

    .user-input{
            padding: 22px 40px 14px 24px;
            margin-left: -14px;
            border-radius: 5px;
    }

    .sent-btn{
        margin-top: 40px;
        border-radius: 5px;
        margin-left: 60px;
    }
}

@media screen and (min-width: 576.1px) and (max-width: 992px) {
    .banner {
        flex-direction: column;
        text-align: center;
    }

    .menu-bar-description {
        font-size: 1rem;
        max-width: 456px;
        margin-top: -18px;
        margin-left: 140px;
    }

    .shoes-img {
        width: 100%;
    }

    .shoes-card {
        max-width: 240px;
        height: auto;
    }
}